{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Introduction</h1>
        </header>
        
        <div class="w3-container">
          <p>The aim of this project is to provide security for data sending over the network between two more people. When Military Organization send any message that message obviously contain information regarding security purpose
            of our country. If this message stolen or hack by terrarist organization person that will be result bad imapact on our country security. The solution
            for this is send the hidden message with more security because of this we are
            going to use the cryptography and staganography technology in our project
            i.e. Secure Informationo Transmission Using Steganography for military Application.
            </p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>About The Project</h1>
            </header>
            
            <div class="w3-container">
              <p>The idea of information hiding is nothing new in the history. As early as in
                ancient Greece there were attempts to hide a message in trusted media to
                deliver it across the enemy territory. In the modern world of digital communication, there are several techniques used for hiding information in any
                medium. One of such technique is steganography. in which digital media
                mainly digital images are used as a medium for hiding information and the
                information in the form text, digital image, video or audio file may be used
                as secret message. The word steganography derived from two Greek words:
                steganos means covered and graphos means writing and often refers to secret
                writing or data hiding</p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>

    <div class="w3-container w3-center">
        <h2>Architecture Diagram</h2>
        <img src="static/images/block.png" alt="car" style="width:100%">
        <p>Figure1</p>
      </div>

{% endblock %}