{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Abstract</h1>
        </header>
        
        <div class="w3-container">
          <p>
            Our project scope is developed for hiding information in any image file to
            ensure the safety of exchange the data between different miliatry parties and
            provide better security during message transmission.
            The scope of the project is implementation of steganography tools for hiding
            information includes any type of information file and image files and the
            path where the user wants to save image and extruded file. We will use LSB
            technique. The proposed approach is to use the steganography algorithm for
            embedding the data in an image files for military application.
        </p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Motivation</h1>
            </header>
            
            <div class="w3-container">
              <p>
                Information security plays a major role in any data transfer. Security can
                be obtained by information hiding that focuses on hiding the existence of
                secret messages. Steganography is data hiding technique aims in hiding the
                existence of the communication, to make other parties unaware of the contribution of steganographic exchange.
            </p>

            </div>
            <footer class="w3-container w3-blue">
                <h5></h5>
              </footer>
              
              </div>
            
           
        <div class="w3-card-4 w3-margin">

                    <header class="w3-container w3-blue">
                      <h1>Existing System</h1>
                    </header>
                    
            <div class="w3-container">
                      <p>
                        Cryptography can be used to provide message confidentiality and integrity
                        and sender verification. The basic functions of cryptography are encryption,
                        decryption and cryptographic hashing. Cryptographic hashing is the process
                        of generating a fixed-length string from a message of arbitrary length. If
                        the sender provides a cryptographic hash with the message, the recipient
                        can verify its integrity. Modern cryptographic systems are based on complex
                        mathematical relationships and processes.                    </p>
            </div>
                    
                    <footer class="w3-container w3-blue">
                      <h5></h5>
                    </footer>
                    
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Our Approach</h1>
            </header>
            
            <div class="w3-container">
              <p>
                Digital images are used for hiding information and the information is in
                the form of text, digital image, video or audio file may be used as secret
                message. Using LSB Steganography Technique we can implement high level
                if information security without any damage to cover image. In this system,
                we are using the hybrid approach i.e. cryptography and steganography.
                
            </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>        
{% endblock %}